<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="RRSConnectionString" connectionString="server=CorpCamDbTest.amhc.amhealthways.net;uid=RRSService_Application;pwd=iR0n*man!;database=CHPA" providerName="System.Data.SqlClient"/>
  </connectionStrings>  
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <services>
      <service behaviorConfiguration="RRSServiceBehavior" name="RRS.Services.PreAuthManager">
        <endpoint address="" binding="basicHttpBinding" contract="RRS.Services.IPreAuthManager" bindingConfiguration="rrsBinding"/>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="rrsBinding" maxReceivedMessageSize="200000">
          <readerQuotas maxStringContentLength="100000"/>
          <security mode="Transport">
            <transport clientCredentialType="Basic"></transport>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="RRSServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata httpsGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
